:root {
  --color-black: #000000;
  --color-gray: #e4e4e4;
  --color-red: #ff0000;
  --color-blue: #0000ff;
  --color-orange: #ffa500;
  --color-white: #ffffff;
  --color-brown: #a52a2a;
  --color-pink: #ffc0cb;
  --color-yellow: #ffff00;
  --color-green: #008000;
  --color-purple: #800080;
}

.header{
    padding: 1px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa500;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin:0px 20px 10px 30px;
}

.logo h6{
    margin: 0;
    font-size: 25px;
    color: var(--color-black);
}
.logo a{
    text-decoration: none;
    margin-left: 5px;
    font-size: 16px;
}
.links ul{
    display: flex;
    list-style: none;
}
.links li{
    display: flex;
    align-items: center;
    margin: 20px 100px 0px 0px;
    border: none;
    cursor: pointer;
    /* transition: background-color 0.1s; */
}
.links a{
    color: var(--color-black);
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

.links li:hover{
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 0px 8px;
    border-radius: 4px;
}

.div-button .button{
    display: flex;
    align-items: center;
}

.div-button button{
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0px 50px 0px 0px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.div-button button:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}

@media screen {
    
}