@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    /* background-color: black;
    background-image:url(image/a6016562618e64018c30bd15e85d3f85.jpg) ; */
}
:root {
  --color-black: #000000;
  --color-gray: #e4e4e4;
  --color-red: #ff0000;
  --color-blue: #0000ff;
  --color-orange: #ffa500;
  --color-white: #ffffff;
  --color-brown: #a52a2a;
  --color-pink: #ffc0cb;
  --color-yellow: #ffff00;
  --color-green: #008000;
  --color-purple: #800080;
}

a {
  text-transform: none;
  cursor: pointer;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}